<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <title>ThisIsBook</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="./index.html">ThisIsBook API</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html">Main
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="./updates.html">Current updates</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-3">
        <h1 class="mt-5">Welcome to ThisIsBook API</h1>
      </div>

      <div id="results" class="col-lg-8 order-2 mb-5"></div>
      <!-- <script src="handlebars-v4.0.5.js"></script> -->
      <!-- <script src="jquery-1.12.0.js"></script> -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
       -->

       <!-- <script type="text/x-handlebars-template">
        <div id="results" class="col-lg-8 order-2 mb-5"></div>
      </script> -->

      <!-- <div id="results" type="text/x-handlebars-template" class="col-lg-8 order-2 mb-5"></div> -->
      <!-- <div id="data-details" class="col-lg-8 order-2 mb-5"></div> -->
      <!-- <div id="data-container">
        <div id="data-details"></div>
      </div> -->



      <div class="col-lg-4 order-1">
        <p class="text-muted" id="crud-ins-text-muted"><b>To operate CRUD, select an option below</b></p>
        <select id="CRUD_option" class="form-control" onchange="change_CRUD_option(value)"
          style="border: 3px solid #ced4da;">
          <option value="0">Create</option>
          <option value="1">Update</option>
          <option value="2">Delete</option>
        </select>
        <div class="order-1">

          <form enctype="application/json" action="/books" method="post" id="formCreation">
            <div class="form-group mt-3 mb-0">
              <!-- req.body -->
              <input class="form-control mt-3" type="text" name="name" placeholder="section_name" value="FICTION"
                readonly>
              <input class="form-control mt-3" type="text" name="title" placeholder="Title" required>
              <input class="form-control mt-3" type="text" name="author" placeholder="Author" required>
              <input class="form-control mt-3" type="number" name="price" placeholder="Price" step='0.01' pattern="\d+"
                min="0" max="200" required>
              <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </div>
            <p class="text-muted" id="cre-text-muted">To create a book, fill the input</p>
          </form>

          <form enctype="application/json" id="formUpdate">
            <div class="form-group mt-3 mb-0">
              <!-- req.body -->
              <input class="form-control mt-3" type="text" name="id" placeholder="ID" readonly>
              <input class="form-control mt-3" type="text" name="name" placeholder="section_name" value="FICTION"
                readonly>
              <input class="form-control mt-3" type="text" name="title" placeholder="Title" required>
              <input class="form-control mt-3" type="text" name="author" placeholder="Author" required>
              <input class="form-control mt-3" type="number" name="price" placeholder="Price" step='0.01' value='0.00'
                pattern="\d+" min="0" max="200" required>
              <button type="submit" id="updateSubmit" class="btn btn-primary btn-block mt-3">Submit</button>
            </div>
            <p class="text-muted" id="up-text-muted">To update a book, click the required row first</p>
          </form>

          <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
          <p class="text-muted" id="del-text-muted">To delete a book, click the required row first.
            <br>(No action will be executed without selecting the required row first)
          </p>

        </div>
      </div>


    </div>
  </div>

  <footer class="footer">
    <div class="container text-center"><span class="text-muted">&copy; 2021 ThisIsBook API</span></div>
  </footer>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

  <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script> -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/table.js"></script>

  <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script> -->
  <!-- <script type="text/javascript" src="./js/data-script.js"></script> -->


</body>

</html>